.container {
    display: flex;
    background-color: black;
    flex-direction: column;
    float: left;
    height: 100vh;
    width: 300px;
    color: white;
}
.item {
    padding: 20px;
    /* margin-left: -166px;*/
}
a {
    text-decoration: none;
}
/*.container:hover {
    width: 300px;
    .item {
        margin-left: 0;
    }
}*/
